@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700;900&display=swap');

*{
    padding: 5px;   
    margin-left: 5px;
    margin-right:5px; 
}

header nav{
    background-color: black;    
    top: 0;
    text-decoration: none;
    color:white;
    font-size:25px;    
    float:right;
}

/* BODY */

body {    
    background-color:black;
    font-family: 'Montserrat' !important;  
    font-weight: 300;  
    width: 100%;
}
h1 {
    color:teal;
    font-size:40px;   
}
.hero{
    display:flex;
    margin-top:20px;
    justify-content: center;
    align-items:center;      
}
.hero p{
    font-size:30px;  
    border: 2px solid white;  
    color:aquamarine;
    text-align: center;
    padding:8px;
    font-family: 'Montserrat';  
    font-weight: 200;  
}

main section div h2 {
    color:teal;
    font-size:40px;
    text-align: center;
}
main section div p {
    font-size: 25px;
}

.index-banner{
    background-repeat:no-repeat;     
    width:100%; 
}

.owDescripcion{    
    color:white;     
    font-family: 'Montserrat';
    font-weight: 700;      
    font-size:25px;
    margin-left:50px;
}
.owH2{       
        color:white;     
        font-family: 'Montserrat';
        font-weight: 700; 
        display:flex;
        align-items: center;
        justify-content: center; 
        font-size:30px;         
}
.owDescripcionJuego{
    color:white;
    display:flex;
    align-items:center;
    font-family: 'Montserrat';
    font-weight:500;    
    margin-bottom: 8px;    
    font-size:20px;
    margin-left:40px;
}

.footerDerechos{
    float:left;
    color:white;
    display:flex;
    align-items: center;
    margin-left:50px;       
}
.planetas{        
    border: 3px solid rgb(241, 117, 54);
    display: inline-block;
    margin-bottom: 3px;
}
.planetasTitulo{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    color:aquamarine;
    margin-top:100px;
}
h3{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color:white;  
    
} 
.planetas img{
    float:left;
}
.planetas p{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
    color:white;
    display:flex;
    text-align: center;    
    align-items: center;
    margin-bottom: 10px;
}
footer{
    position: relative;  
    bottom: 10px;
}
.borderMerch{
    margin-left:10px;
    border:3px solid white;    
    width:500px;
    height: 450px;    
}
.borderMerch img{
    width:98%;        
}
.borderMerch h3{
    display:flex;
    justify-content: center;
}
div.borderMerch p{
    color:white;
    text-align: center;
    font-size:25px;
}
.botonComprar{
    border: 2px solid black;
    background-color: white;       
    text-decoration: none;
    display:flex;    
    justify-content: center;
    margin-left:80px; 
    margin-right:80px;
}
.grid-contenedor{
    background-color:teal;
    border:2px solid white;
    padding:10px;
    display:grid;
    gap:15px;
    grid-template-columns: repeat(3, 1fr);
    }

.item1{
    border: 2px solid white;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
    color:white;
    text-align: center;
}
.item2{
    border: 2px solid white;    
    font-size: 25px;
    color:white;
    text-align: center;
}
.item{    
    border: 2px solid white;        
    font-size: 25px;
    color:white;
    text-align: center;    
}
.item6{
    border: 2px solid white;        
    font-size: 25px;
    grid-column-start:1;
    grid-column-end:4;
    color:white;
    text-align: center; 
}
.botonEnviar{
    background-color:transparent;
    border:2px solid rgb(255, 128, 0);
    margin-top:5px;
    width:20%;    
    color:white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size:30px;
    
}
.labelsForms{
    color:white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size:30px;
}
.inputMensaje{
    height:200px;
    margin-top:5px;
    margin-bottom:20px;
    width:35%;    
    background-color: transparent;
    border:2px solid rgb(255, 128, 0);    
    color:white;    
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
}
.inputEmail{
    margin-top:5px;
    margin-bottom:20px;
    width:35%;    
    background-color: transparent;
    border:2px solid rgb(255, 128, 0);    
    color:white;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 20px;
}
.logo-img{
    width: 80px;
    height: 65px;
}
.timber-png{
    width: 160px;
    height: 200px;
}
.hourglass-png{    
    width:180px;
    height:200px;
}
.britte-png{
    width:180px;
    height: 200px;
}
.giant-png{
    width:190px;
    height:200px;
}
.bramble-png{
    width:180px;
    height:200px;
}
.theeye-png{
    width:220px;
    height:200px;
}
.banner{
    margin-top:100px;    
}
.index-banner{    
    width:1500px;
    height:200px;
    margin-top:50px;
}
@media (max-width: 1250px) {   
    .index-banner{
        visibility: hidden;
    }
} 
iframe{
    width:900px;
    height:600px;
}






