header {

    nav{
        background-color: black;    
        top: 0;
        text-decoration: none;
        color:white;
        font-size:25px;    
        float:right;
        div{
            .logo-img{
                width: 80px;
                height: 65px;
            }
        }
    }
}