$boton:(
    bg-boton:transparent,
    border-boton:2px solid rgb(255, 128, 0),
    color-texto:white,
    width-boton: 20%,
    font-text: 'Montserrat',
    weight-texto: 700,
    size-texto: 30px
);


