@media screen and (max-width: 1250px) {
    div {
        div {
            div{
                .index-banner{
                    visibility: hidden;
                }
            }
        }
    }
}
@media screen and (max-width: 1250px){
    div{
        div{
            div{
                iframe{
                    visibility: hidden;
                }
            }
        }
    }
}
@media screen and (max-width: 1250px){
    div{
        div{
            div{
                .echoes{
                    visibility: hidden;
                }
            }
        }
    }
}